<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navbar">
        <img src="/logo.png" alt="Logo of NEA" class="logo-img" />
        <div class="nav-btn">
            <a href="#"><button class="btn-primary">HomePage</button></a>
            <a href="/register"><button class="btn-primary">Register</button></a>
        </div>
    </nav>
    <form class="container" method="post" action="/login">
        <h1>Login</h1>
        <div class="input-group box">
            <input type="text" name="username" required>
            <span>Username</span>
        </div>
        <div class="input-group box">
            <input type="password" name="password" required>
            <span>Password</span>
        </div>
        <div class="input-group box">
            <button type="submit" class="btn submit" name="login_btn">Login</button>
        </div>
        <p>
            Not yet a member? <a href="/register"><span style="color:#0C6D9E; font-weight:600">Sign up</span></a>
        </p>
    </form>
    <footer>
        <p>Copyright © <span id="year-change"></span> Nepal Electricity Authority ❘ All Rights Reserved.</p>
    </footer>
    <script>
        const date = new Date();
        document.getElementById("year-change").innerHTML = date.getFullYear();
    </script>
</body>
</html>
